$bg: #1b1b1b
$border: darkorange

sherpa[component="dump"]
  padding: 5px

  background-color: $border

  &,
  > .layer
    border: solid 1px $bg
    border-radius: 15px

  > .layer
    width: 100px
    height: 100px

    background-color: $bg